<!-- index.html.erb -->
<div class="headline">
  <h1>About Old News</h1>
  <h3>By Shawn Broukhim</h3>
</div>
<div class="lead_paragraph">
  <p>I created this web application for a project in the Web Development Intensive held at General Assembly in New York City in February, 2014</p>
  <p>The site uses the NYTimes article search API to return random headline articles from today's date in a random year.</p>
  <p>This is my first web application which uses an API</p>
  <p>The design and style of the site was inspired by Jacob Harris' <a href="http://haiku.nytimes.com/">Times Haiku Generator</a></p>
  <p>Hope he doesn't mind...</p>
</div>