/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *=require normalize.css
 *= require_self
 *= require_tree .
 */

 @import url(http://fonts.googleapis.com/css?family=PT+Serif+Caption);
 @import url(http://fonts.googleapis.com/css?family=Bree+Serif);

.header {
  text-align: center;
/*  font-family: 'PT Serif Caption', 'serif';*/
  font-size: 16px;
  position: relative;
  /*text-shadow: 4px 4px 4px #aaa;*/
  padding: 12px;
}

ul {
  list-style-type: none;
  padding: 1%;
}

ul.nav_bar {
  display: inline-block;
}
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

body {
  background-color: #E7E7E7;
  letter-spacing: .20em;
  font-family: "PT Serif Caption";
  width: 100%;
}

.main_nav {
  text-align: right;
  font-size: 14px;
  padding-right: 2%;
  top: 0;
  width:100%;
  list-style-type: none;
}


.eclesiastes {
/*  font-family: 'Didact Gothic', serif;*/
  color: #A03332;
  padding: 24px;
  width: 50%;
  margin: 0 auto;
  padding: 2%;
  text-align:center;
}

/*.eclesiastes_name{
  text-align: center;
  font-size: 12px;
}
*/
.more_headlines a {
  background-color: #E7E7E7;
  text-decoration: underline;
  color: black;
  padding: 12px;
}

 a:hover {
  color: white;
  background-color: black;
}

.on_this_day {
  text-align: center;
  margin: 0 auto;

  font-size: 15px;
  padding: 24px;
}

.on_this_day h2:hover {
  color: white;
  background-color: black;
}


.headline {
  text-align: center;
  margin: 84px auto;
  font-size: 14px;
  font-weight: 900;
  padding: 2%;
  width: 50%;
  -webkit-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.1);
  box-shadow: 3px 3px 0px 0px rgba(50, 50, 50, 0.1);
  line-height: 1.5;
  background-color: white;
}

.headline:hover{
  color: white;
  background-color: black;
}

.lead_paragraph {
  text-align: center;
  margin: 0 auto;
  font-size: 14px;
  padding: 2%;
  width: 50%;
  background: white;
  line-height: 1.5;
  text-align: left;
  letter-spacing: .25em;
}


.lead_paragraph a {
  text-decoration: none;
  color: black;
}


.lead_paragraph a:hover {
  background-color: black;
  color: white; 
}

.nav_bar_li {
  display: block;
}

.nav_bar_li a  {
  text-decoration: none;
  color: black;
}

.nav_bar_li a:hover {
  background-color: black;
  color: white;
}


.form {
  font-size: 14px;
  text-align: center;
  margin: 0 auto;
  width: 100%;
}

.form ul {
  margin: 0 auto;
  width: 100%;
  padding: 6px;
}

.form li {
  display: inline;
  padding: 6px 6px 6px 6px;
  margin: 0 auto;
  width: 50%;
}

.submit {
  background-color: white;
}

#errors {

  font-size: 14px;
  text-align: center;
  margin: 0 auto;
}
#errors li {
  display: block;
}

footer {
  padding: 18px;
  font-size: 12px;
  width: 100%;
  display: inline;
}

footer ul {
  text-align: center;

}

.footer_list {
  padding: 12px;
  margin: 0 auto;
  width: 100%;
}

.footer_list ul {
  padding: 0 auto;
  padding: 12px;
  text-align: center;
}

.footer_list li {
  display: inline;
  padding: 24px;
}

a {
  text-decoration: none;
  color: black;
  padding: 2px;
}
a:hover {
  color: white;
  background-color: black;
}

.share_buttons {
  text-align: center;
  padding: 0px;
  width: 50%;
  margin: 0 auto;
}

.share_buttons ul {
  margin: 0 auto;
  width: 50%;
  padding: 6px;
}

.share_buttons li {
  display: inline;
  font-size: 12px;
}

h3 {
  padding: 2px;
}

#new_form li{
  display: inline-block;
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#contacts_ul li {
  display: block;
}

div#old_news {
  position: static;
  text-align: center;
  /*z-index: 0;*/
}

body .div {
  -webkit-box-shadow: 3px 3px 20px 0px rgba(50, 50, 50, 0.1);
  -moz-box-shadow:    3px 3px 20px 0px rgba(50, 50, 50, 0.1);
  box-shadow:         3px 3px 20px 0px rgba(50, 50, 50, 0.1);
}

h2 {
  display: inline;
  text-align: center;
  background-color: white;
  padding: 22px;
  line-height: 6;
  letter-spacing: 0.25em;
  font-weight: bold;
  -webkit-box-shadow: 3px 3px 2px 0px rgba(55, 50, 50, 0.75);
  -moz-box-shadow: 3px 3px 2px 0px rgba(55, 50, 50, 0.75);
  box-shadow: 3px 3px 2px 0px rgba(55, 50, 50, 0.75);
}
 

h4 > em {
  font-size: 18px;
}

.article-space div {
  box-shadow: 3px 3px 2px 0px rgba(55, 50, 50, 0.75);
}

div .article {
  padding: 12px;
  width: 100%;
}

#button:hover {
  cursor: pointer;
}
