/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
.header {
  text-align: center;
  font-family: 'Didact Gothic', serif;
  font-size: 14px;
  /*text-shadow: 4px 4px 4px #aaa;*/
  padding: 10px;
}
body {
  background-color: #E7E7E7;
}

.main_nav {
  padding: 15px;
  text-align: right;
  font-family: 'Didact Gothic', serif;
  font-size: 12px;
}


.eclesiastes {
  font-family: 'Didact Gothic', serif;
  color: #705027;
  padding: 25px;
}

.eclesiastes_name{
  text-align: center;
  font-size: 10px;
}

.more_headlines a {
  background-color: #E7E7E7;
  text-decoration: underline;
  color: black;
  padding: 10px;
}

.more_headlines a:hover {
  color: white;
  background-color: black;
}

.on_this_day {
  text-align: center;
  margin: 0 auto;
  font-family: 'Didact Gothic', serif;
  font-size: 13px;
  padding: 25px;
}

.article{
  border: 250px;
}
.headline {
  text-align: center;
  margin: 0 auto;
  font-family: 'Didact Gothic', serif;
  font-size: 12px;
  padding: 20px;
  width: 50%;
}

.lead_paragraph {
  text-align: center;
  margin: 0 auto;
  font-family: 'Didact Gothic', serif;
  font-size: 12px;
  padding: 0px;
  width: 40%;
  background: white;
  padding: 10px 0px 10px 0px;
}
.lead_paragraph li {
  text-align: center;
  width: 50%;
}

.lead_paragraph a {
  text-decoration: none;
  color: black;
}


.lead_paragraph a:hover {
  background-color: black;
  color: white; 
}


.nav_bar {
  padding: .2em 0;
  list-style-type: none;
  margin: 0;
}

.nav_bar_li {
  display: block;
}

.nav_bar_li a  {
  text-decoration: none;
  color: black;
}

.nav_bar_li a:hover {
  background-color: black;
  color: white;
}


.form {
  font-family: 'Didact Gothic', serif;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
 /* width: 40%;*/
}

.form li {
  display: inline;
  padding: 12px 0px 12px 0px;
  margin: 0 auto;
  width: 50%;
}

.submit {
  background-color: white;
}

#errors {
  font-family: 'Didact Gothic', serif;
  font-size: 12px;
  text-align: center;
  margin: 0 auto;
}
#errors li {
  display: block;
}

.footer {
  padding: 15px;
  font-family: 'Didact Gothic', serif;
  font-size: 10px;
  text-align: center;
}

.footer_list li {
  display: inline;
  padding: 0px 15px 0px 15px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: white;
  background-color: black;
}

.share_buttons li {
  display: inline-block;
  text-align: center;
  margin: 0 auto;
}

#new_form li{
  display: inline-block;
  margin: 0 auto;
  width: 50%
  text-align: center;
}
 

